<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<title>Template generico</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		{{>header}}
		<!-- Nav -->
		{{>navbar}}
		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Temas de Interes</h2>
							<p>21.02.2023</p>
						</header>
						<div class="content">
							<p>En la actualidad los 5 países que se encuentran a la cabeza en la instalación de robots son Estados Unidos, China, Japón, Corea del Sur y Alemania. A comienzos del siglo XXI fue Japón quien se encontraba a la cabeza por ser el país que más robots industriales tenía instalados.</p>

							<p>En el transcurso de los últimos años se ha producido un gran avance en las tecnologías de última generación. Como consecuencia directa de las inversiones en el I+D, la Inteligencia Artificial ha evolucionado dando un paso determinante. Lo ha desencadenado el desarrollo de los softwares con algoritmos entrenados mediante el Deep Learning o aprendizaje profundo, siendo las compañías de robótica las que se están beneficiando de sus bondades.</p>

							<p>Desarrollar un proyecto de robótica requiere del uso de la ingeniería mecatrónica, la cual se encuentra formada por diferentes ciencias. Entre ellas destacamos la mecánica, la electrónica, la informática, el control y la computación.</p>

							<p>Para descubrir de dónde viene la palabra robot tenemos que retroceder a principios del siglo XX. El concepto de la palabra robot procede de un escritor de origen checo que se llamaba Karel Capek. En 1920 realizó una obra teatral que se llamaba R.U.R., que es el acrónimo de Rossum´s Universal Robots. La representación se centraba en una empresa que fabricaba humanos artificiales con los que intentaba reducir la carga de trabajo de los trabajadores.</p>

							<p>El mundo a reconocido a George Charles Davol como el creador del primer robot industrial. Fue el fundador de Unimation junto con Joseph F. Engelberger, una empresa de robótica innovadora que en 1948 investigaron y desarrollaron la primera máquina programable de la historia. Destacaba por ser muy sencilla en su uso y por su capacidad para adaptarla a diferentes trabajos. Ese robot sirvió para empezar a crear nuevos robots con fines industriales.</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previo</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Siguiente</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
		{{>footer}}
	</body>
</html>