<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{titulo}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
        {{>header}}
		<!-- Nav --> 
        {{>navbar}}
		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Aplicación ilustrativa</h1>
					</header>
				</div>
				<a href="#one" class="more">Aprende más</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Una mirada al futuro</h2>
							<p>25.02.2023</p>
						</header>
						<div class="content">
							<p>La literatura de ciencia ficción ha intentado dar cuenta de su entorno, a partir de una mirada hacia el futuro, por lo cual se ha constituido en una manera de hacer literario presente que procura lanzar una mirada hacia los grandes retos del ser humano en su hacer cotidiano, pero sin dejar de lado las grandes preocupaciones que de igual forma comporta el ser humano: la ecología, la ciencia, la sobrepoblación, los miedos, los retos, lo éxitos. Sin dejar de lado lo que representa “echar un vistazo” más allá de nuestro planeta, este tipo de literatura, de monstruos, de extraterrestres, de adelantos y de retrocesos, se convierte en tema importante dentro de la nueva literatura costarricense, por lo acual, dar una mirada a sus orígenes y a lo que representa, es también conocer su vitalidad actual.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">un poco mas</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Obten nuevos conocimientos</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Para afrontar facilmente los cambios</h2>
							<p>25.02.2023</p>
						</header>
						<div class="content">
							<p>La inteligencia artificial IA es la base a partir de la cual se imitan los procesos de inteligencia humana mediante la creación y la aplicación de algoritmos creados en un entorno dinámico de computación. O bien, dicho de forma sencilla, la IA consiste en intentar que los ordenadores piensen y actúen como los humanos.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">un poco mas</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">un poco mas</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Diferentes miradas con las que te puedes acercar</h2>
							<p>25.02.2023</p>
						</header>
						<div class="content">
							<p>Hoy en día, la cantidad de datos que se genera, tanto por parte de los humanos como por parte de las máquinas, supera en gran medida la capacidad que tienen las personas de absorber, interpretar y tomar decisiones complejas basadas en esos datos. La inteligencia artificial supone la base de todo el aprendizaje automático y el futuro de todos los procesos complejos de toma de decisiones. Por ejemplo, la mayoría de los humanos pueden averiguar cómo no perder cuando juegan al tres en raya, aunque haya 255 168 movimientos únicos, de los cuales 46 080 terminan en tablas. Muchos menos podrían llegar a ser grandes maestros de las damas, con más de 500 x 1018 o 500 trillones de posibles movimientos diferentes. Los ordenadores son extremadamente eficientes a la hora de calcular estas combinaciones y permutaciones para llegar a la mejor decisión. La IA y su evolución lógica del aprendizaje automático y el aprendizaje profundo constituyen los cimientos del futuro en la toma de decisiones empresariales.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Un poco mas</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Puntos de vista</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Ciencia y tecnologia</h2>
							<p>25.02.2023</p>
						</header>
						<div class="content">
							<p>Se sabe que la ciencia y la tecnología se han convertido en ramas de la actividad inseparables de la vida y el progreso de la sociedad desde hace varias décadas. Ambos conceptos están hoy tan interrelacionados que han llegado a considerarse como uno solo. El estudio de sus orígenes revela, sin embargo, diferencias notables. Con el fin de formalizar de manera pragmática ambos conceptos y delimitar sus esferas de acción, se exponen sus definiciones, características e interdependencias. Tanto la ciencia como la tecnología justifican su existencia en la búsqueda y el desarrollo de productos, servicios, medios, herramientas y otras entidades, capaces de satisfacer las necesidades humanas y de la vida en general.</p>
						</div>
						<footer>
							<a href="generic.html" class="button alt">Conocimiento</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
        {{>footer}}
	</body>
</html>